* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: 'Intro Regular';
    src: url('/assets/fonts/Intro/Intro-Regular.eot');
    src: url('/assets/fonts/Intro/Intro-Regular.eot') format('embedded-opentype'),
        url('/assets/fonts/Intro/Intro-Regular.woff') format('woff'),
        url('/assets/fonts/Intro/Intro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    max-width: 1290px;
    margin: auto;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.logo-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-group__logo,
.button__icon-cart {
    display: block;
}

.logo-group__title {
    font-family: 'Intro Regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.button {
    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: 100px;
    background: var(--unnamed, #5222D0);

    font-family: 'Intro Regular';
    color: white;
    padding: 14px 16px;
    border: none;
    cursor: pointer;

}

.button__title {
    text-transform: uppercase;
}

.name {
    color: var(--unnamed, #000);
    font-family: 'Intro Regular';
    text-transform: uppercase;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 35px;
    /* 72px */
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav__item {
    color: #5222D0;
    font-family: Roboto Slab;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    text-decoration: none;
    /* 32px */
}

.table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(406px, auto));
    justify-content: space-between;
    margin-bottom: 70px;
}

.table-cell {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;

    border: 15px solid white;
    outline: white solid 1px;

}

#red-cell {
    border: 15px solid white;
    outline: red solid 1px;

}

#red-cell2 {
    border: 15px solid white;
    outline: red solid 1px;

}


.table_cell_picture {
    width: 100%;

}

.table_cell_title {
    color: var(--unnamed, #000);
    font-family: 'Intro Regular';
    font-size: 30px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 20px 0;
    /* 36px */
}

.table_cell_text {

    color: var(--unnamed, #000);
    font-family: Roboto Slab;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    /* 32px */
}

#table_cell_form {
    padding: 0 20px;
    background: var(--unnamed, #EC615B);
}

#table_cell_title-white {
    color: var(--unnamed, #FFF);
    font-family: 'Intro Regular';
    text-transform: uppercase;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 36px */
}

.table_cell_input {
    height: 50px;
}

aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    margin: 35px;

}